<h1>Welcome to OscarsMates!</h1>
<p>Hi <%= @user.name %>,</p>
<p>Your verification PIN is: <strong><%= @user.pin %></strong></p>
<p>Please enter this PIN to verify your email and start using our app!</p>
