<section class="user-list py-5">
  <div class="container mt-4">
    <div class="text-center mb-4">
      <h1>
        <%= pluralize(@users.size, "Mate") %>
      </h1>
    </div>

    <div class="list-group">
      <% @users.each do |user| %>
        <%= link_to user, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
          <div>
            <h5 class="mb-1"><%= user.name %></h5>
            <small><%= pluralize(user.reviews.count, 'movie') %> rated</small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>