<div class="container mx-auto px-4 py-8">
  <div class="text-center mb-6">
    <h3 class="text-2xl font-semibold text-slate-900">Your Stats</h3>
    <p class="text-sm text-slate-600">Movies Watched: <strong class="text-slate-900"><%= @total_movies_watched %></strong></p>
    <p class="text-sm text-slate-600">Total Minutes Watched: <strong class="text-slate-900"><%= @total_minutes_watched %> mins</strong></p>
  </div>

  <div data-controller="chart"
       data-chart-minutes-watched-value="<%= @mates_stats.to_json %>">
    <canvas></canvas>
  </div>
</div>
