<div class="container">
  <div class="text-center mb-5">
    <h3>Your Stats</h3>
    <p>Movies Watched: <strong><%= @total_movies_watched %></strong></p>
    <p>Total Minutes Watched: <strong><%= @total_minutes_watched %> mins</strong></p>
  </div>

  <div data-controller="chart" 
     data-chart-minutes-watched-value="<%= @mates_stats.to_json %>">
  <canvas></canvas>
</div>

  <div class="mt-4">
    <%= link_to "See the Latest Ratings from Your Mates →", wall_user_path(current_user), class: "btn btn-primary" %>
  </div>
</div>
