<h1>Verify Your Email</h1>

<p>Please enter the PIN sent to your email to verify your account.</p>

<%= form_with url: verify_pin_user_path(@user), method: :post do %>
  <div>
    <%= label_tag :pin, 'PIN' %><br>
    <%= number_field_tag :pin, nil, required: true, min: 0 %>
  </div>
  <div>
    <%= submit_tag 'Verify', class: 'btn btn-primary' %>
  </div>
<% end %>
