@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./custom.css";
@import "./animations.css";

input[type="submit"] {
  cursor: pointer;
}

.turbo-progress-bar {
  visibility: hidden;
}
