<header>
  <ul class="right">
    <li>
      <%= link_to current_user.name, current_user %>
      <%= link_to "Sign In", signin_path, class: "button"%>
      <%= link_to "Sign up", new_user_path, class: "button"%>
      <%= link_to "Mates", users_path, class: "button"%>
    </li>
  </ul>
</header>